In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [16]:
dframe = pd.read_csv('/Users/jonathanjramirez/Desktop/lect23.csv', sep=',')

In [17]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog

In [18]:
dframe2 = pd.read_csv('/Users/jonathanjramirez/Desktop/lect23.csv', sep=',',header = None)
dframe2

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [29]:
dframe = pd.read_table('/Users/jonathanjramirez/Desktop/lect23.csv', sep=',', header = None)

In [30]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [31]:
dframe

   0  1  2  3       4
0  q  r  s  t   apple
1  2  3  4  5    pear
2  a  s  d  f  rabbit
3  5  2  5  7     dog

In [32]:
#This will be saved where your Jupyter notebooks are saved.
dframe.to_csv('mytextdata_out.csv')